.idea-card {
	display: flex;
	flex-direction: column;
	width: 240px;
	height: auto;
	padding: 5px 10px;
	border: 1px solid black;
	margin: 15px;
}

.idea-card .idea-card-head {
	display: flex;
	justify-content: space-between;
	height: 25px;
}

.idea-card-head img {
	height: 100%;
	width: auto;
}
